.TodoList {
  width: 100%;
}

.TodoList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid grey;
}

.TodoList__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 15px;
}
